/ATM/nbproject/private/
/ATM/build/
/ATM/dist/
/BatoBatoPickGame/nbproject/private/
/BatoBatoPickGame/build/
/BatoBatoPickGame/dist/
/ATMOOP/nbproject/private/
/ATMOOP/build/
/ATMOOP/dist/
/PChub/nbproject/private/
/ATMv2/nbproject/private/
/ATMv2/build/
/ATMv2/dist/
/techExam/nbproject/private/
/techExam/build/
/Exam_ActimAI/nbproject/private/
/Exam_ActimAI/build/
/Exam_ActimAI/dist/
